body,
html,
#wrapper,
#container-fluid {
  height: 100%;
  width: 100%;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
  width: 100%;
  position: relative;
}

.mdc-top-app-bar__row {
  background-color: #25b5f1;
}

.mdc-list a {
  font-size: x-large;
  padding-top: 4vh;
}

.mdc-top-app-bar--fixed a {
  font-size: large;
  padding-left: 30px;
}

.mdc-top-app-bar--fixed,
a:hover {
  color: white;
}

.mdc-top-app-bar--fixed,
a:visited {
  color: black;
}

h3 {
  float: right;
  color: black;
  margin-top: 7px;
  margin-left: 10px;
}

/* JOURNEY PLANNER INTERFACE */
button.btn,
button.btn:target {
  background-color: #ffcc00;
  border: none;
}

button.btn:active,
button.btn:hover {
  background-color: #ffff50;
}

#over_map {
  position: absolute;
  top: 10vh;
  left: 3vw;
  z-index: 0;
  min-width: 370px;
  max-width: 370px;
}

#over_map div,
p,
input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.7vh;
  width: 100%;
}

/* CHANGE WIDTH FOR MOBILE DEVICES */
@media only screen and (max-width: 992px) {
  #over_map {
    min-width: 94vw;
  }
}

.btn-primary {
  background: #ffcc00;
  color: black;
}

#wrapper {
  position: relative;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open.dropdown-toggle.btn-primary {
  color: black;
  background-color: #ffcc00;
}

/* HIDE GOOGLE MAPS WARNINGS */
.warnbox-content,
.adp-warnbox,
.adp-agencies {
  visibility: hidden;
  height: 0;
  width: 0;
}

#resultsUI div {
  padding: 0px;
}
/* ROUTES INTERFACE */
#directions-buttons {
  display: none;
}

#back-to-routes {
  display: none;
}

#weather_widget_top {
  margin-left: auto;
  margin-right: 0px;
  float: left;
}

#weather_widget_top h5 {
  float: left;
  margin-top: 50px;
  font-size: large;
  color: black;
}

#add-to-favourites {
  display: none;
}

#remove-from-favourites {
  display: none;
  background-color: #25b5f1;
}

#remove-from-favourites:hover,
#remove-from-favourites:active {
  background-color: #70e8ff;
}

#user-error-message {
  display: none;
}

#realtime_buses,
#directions_results {
  overflow: auto;
  max-height: 60vh;
}

/* apply bold only to td elements in realtime page */
#results_table td {
  font-weight: 500;
}

#resultsUI {
  overflow: auto;
  max-height: 80vh;
}

a:hover {
  color: black;
  font-weight: bold;
}

.mdc-list-item:active,
.mdc-list-item:active {
  background-color: rgb(228, 228, 228);
}

.btn,
btn-primary,
ripple-surface {
  min-width: fit-content;
}

.gm-style-iw-d {
  font-weight: normal;
}

#estimated_step_cost {
  font-size: 80%;
  padding: 0;
}

#info,
#plot-info {
  font-size: 12px;
  font-family: Roboto, Arial, sans-serif;
  margin: 3px;
  font-weight: 300;
}

/* tooltip display style adapted from code from https://stackoverflow.com/questions/1055581/how-do-i-add-a-tool-tip-to-a-span-element */
[data-tooltip] {
  display: inline-block;
  position: relative;
  padding: 2px;
}
/* Tooltip styling */
[data-tooltip]:before {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  background: #ffcc00;
  color: black;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1.4;
  min-width: 190px;
  text-align: center;
  border-radius: 2px;
}

/* Dynamic vertical centering */
[data-tooltip-position="right"]:before {
  top: 50%;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

[data-tooltip-position="right"]:before {
  left: 100%;
  margin-left: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
  content: "";
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after {
  top: 50%;
  margin-top: 3px;
}

[data-tooltip-position="right"]:after {
  left: 100%;
  border-width: 3px 3px 3px 0;
  border-right-color: #ffcc00;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  z-index: 50;
}

#loading {
  position: absolute;
  top: 15vh;
  left: 3vw;
  z-index: 0;
  display: none;
}
/* Implementation of loading button follows instructions on https://www.w3schools.com/howto/howto_css_loading_buttons.asp */
.buttonload {
  background-color: #ffcc00;
  border: none; /* Remove borders */
  color: black;
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
}
