/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: calc(100vh - 35px);
  width: 100%;
}

.mdc-top-app-bar__row {
  background-color: #25b5f1;
}

.mdc-list a {
  font-size: x-large;
  padding-top: 4vh;
}

.mdc-top-app-bar--fixed a {
  font-size: large;
  padding-left: 30px;
}

.mdc-top-app-bar--fixed,
a:hover {
  color: white;
}

.mdc-top-app-bar--fixed,
a:visited {
  color: black;
}

h3 {
  float: right;
  color: black;
}

/* Journey Window UI */
#journeyWindowDiv {
  background-color: #fff;
  border: 2px solid #fff;
  borderradius: 3px;
  boxshadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margintop: 8px;
  marginbottom: 22px;
  textalign: center;
  padding: 20px;
}