{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Dublin Bus travel time predictions" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="{% static 'img/db_icon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/MDB/css/mdb.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'materialdesign/material-components-web.min.css' %}" >
    <script src="{% static 'materialdesign/material-components-web.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.js' %}"></script>
    <script src="{% static 'main/MDB/js/mdb.min.js' %}"></script>
    <script src="{% static 'app.js' %}"></script>
    <title>{% block title %}{{ title }}{% endblock %}</title>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#25B5F1">
      <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="https://www.dublinbus.ie/"><img
          src="{% static 'img/db_logo.png' %}"
          height="50"
        /></a>
        
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-sm-0" style="padding-left: 30px;">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Journey Planner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/realtime/">Real Time Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/busroutes/">Routes</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main id="container-fluid">{% block content %}{% endblock %}</main>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLEMAPS_APIKEY }}&callback=initMap&libraries=&v=weekly" async></script>
    
  </body>

  <footer>UCD Computer Science 2021</footer>
</html>
