{% extends "main/base.html" %}
{% load static %}

{% block title %}Dublin Bus - Home{% endblock %}

{% block nav_title %}Journey Planner{% endblock %}

{% block content %}


<div id="wrapper">
  <div id="map"></div>

  <div id="over_map" class="container w-25 p-3 bg-white">

    <div id="searchUI">

      <p class="font-weight-bold text-center">Travelling From</p>
      <div class="d-grid gap-2">
        <button id="btn-primary" class="btn btn-primary" type="button">My Location</button>
      </div>

      <div class="d-grid gap-2">
        <p class="text-center">OR</p>
      </div> 
    
      <div class="form-group">
        <input type="text" class="form-control" id="origin" placeholder="Enter Location">
      </div>
      
      <p class="font-weight-bold text-center">Destination</p>
      <div class="form-group">
        <input type="text" class="form-control" id="destination" placeholder="Enter Destination">
      </div>

      <p class="font-weight-bold text-center">Departure Time</p>

      <div class="form-outline datepicker">
        <input type="datetime-local" id="departure-time" name="departure-time">
      </div>

      <div class="d-grid gap-2">
          <button id="submit" class="btn btn-primary" type="submit" onclick="calculateAndDisplayRoute(directionsService1, directionsRenderer1)">Submit</button>
      </div>

    </div>

    <div id="resultsUI" style="display: none">

      <div id="directions_results"></div>
      <p class="text-center" id="user-error-message"></p>

      <div class="d-grid gap-2">
        <button id="submit_selected_route" class="btn btn-primary" type="submit" onclick="displayRouteDetails()">Route details</button>
        <button id="clear" class="btn btn-primary" type="submit" onclick="clearDirections(directionsRenderer1)">Back to search</button>
      </div>

    </div>

  </div>
 
</div>

<script src="{% static 'journeyplanner.js' %}"></script>

{% endblock %}

