{% extends "main/base.html" %}

{% load static %}

{% block title %}Dublin Bus - Real Time Info{% endblock %}

{% block nav_title %}Real Time Info{% endblock %}

{% block content %}
<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
<link
  rel="stylesheet"
  href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"
/>

  <div id="map"></div>


  <div id="over_map" class="container w-25 p-3 bg-white">

    <div id="searchStopUI" role="search" aria-label="search a bus stop">
      <p class="font-weight-bold text-center">Select a Bus Stop on Map or Search</p>

      <div class="form-group">
        <p class="text-center" id="user-error-message"></p>
        <div id="autocomplete" class="autocomplete">
          <input
            class="autocomplete-input form-control"
            type="text" id="bus-stop-input"
            placeholder="Bus Stop"
            aria-label="bus stop"/>
          <ul class="autocomplete-result-list"></ul>
        </div>
      </div>

      <div class="d-grid gap-2">
        <button 
          id="submit"
          class="btn btn-primary"
          type="submit"
          aria-label="submit bus stop"
          onclick="call_realtime_from_search()">Submit</button>
      </div>

      <div id="favourites" aria-label="favourite stops">
      
      </div>
    </div>

    <p class="font-weight-bold text-center" id="stop_name_box" alt="bus stop name"></p>
    

    <div class="d-grid gap-2">
      <button
        id="add-to-favourites"
        class="btn btn-primary"
        type="button"
        aria-label="add stop to favourites"
        onclick="addToLocalstorage()">Add to Favourites</button>
      <button
        id="remove-from-favourites"
        class="btn btn-primary"
        type="button"
        aria-label="remove stop from favourites">Remove from Favourites</button>
    </div>

    <div id="realtime_buses" role="real time" aria-label="real time schedule for stop">
        
    </div>

    <div class="d-grid gap-2">
      <button
        id="back-to-stops"
        class="btn btn-primary"
        type="submit"
        style="display: none;"
        aria-label="go back to search another stop"
        onclick="goToStopsPage()">Back to Stops</button>
    </div>

  </div>

  <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>

  <script src="{% static 'realtime.js' %}"></script>
{% endblock %}

